.*
*.a
*.bz2
*.c.[012]*.*
*.dtb
*.dtb.S
*.dwo
*.elf
*.gcno
*.gz
*.i
*.ko
*.ll
*.lst
*.lz4
*.lzma
*.lzo
*.mod.c
*.o
*.o.*
*.order
*.patch
*.s
*.so
*.so.dbg
*.su
*.symtypes
*.tar
*.xz
Module.symvers
modules.builtin

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

#
# RPM spec file (make rpm-pkg)
#
/*.spec

#
# Debian directory (make deb-pkg)
#
/debian/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# git files that we don't want to ignore even if they are dot-files
#
!.gitignore
!.mailmap
!.cocciconfig

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# id-utils files
ID

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
all.config

# Kdevelop4
*.kdev4
#
# Misc build leftovers
#
*.dtb*
*.tlbin
*.symversions
lib/libdss.c
firmware/mfc/mfc_fw_flash.bin
firmware/mfc/mfc_fw_flash_lsi.bin
firmware/tsp_melfas/*.s

arch/arm64/boot/Image
arch/arm64/crypto/sha256-core.S
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/vmlinux.lds
log.txt
firmware/abov/*.fw*
firmware/*.fw*
firmware/sensorhub/*.fw*
firmware/tsp_melfas/*.fw*
out/
kernel/config_data.h
lib/crc32table.h
lib/gen_crc32table
scripts/basic/bin2c
scripts/basic/fixdep
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/genksyms/genksyms
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
security/selinux/av_permissions.h
security/selinux/flask.h
usr/gen_init_cpio
usr/initramfs_data.cpio
scripts/crypto/__pycache__/ELF.cpython-39.pyc
scripts/crypto/__pycache__/IntegrityRoutine.cpython-39.pyc
scripts/fmp/__pycache__/IntegrityRoutine.cpython-39.pyc
scripts/crypto/__pycache__/Utils.cpython-39.pyc
scripts/fmp/__pycache__/ELF.cpython-39.pyc
scripts/fmp/__pycache__/Utils.cpython-39.pyc
net/wireguard/crypto/zinc/chacha20/chacha20-arm64.S
net/wireguard/crypto/zinc/poly1305/poly1305-arm64.S
build-shit
output/*
CosmicStaff/*.zip
CosmicStaff/Image
gcc/
clang/
M31/
M21/
A51/
CosmicFresh/CosmicFresh-R*
CosmicFresh/Image
linux-stable.sh