/*
 * SAMSUNG EXYNOS9610 board device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
/plugin/;
#include "exynos9611-a51_common.dtsi"
#include "battery_data_a51_usa_00.dtsi"
#include "exynos9611-a51_fingerprint_00.dtsi"
#include "exynos9611-a51_sensorhub_03.dtsi"
#include "exynos9611-a51_nfc_ese_03.dtsi"
#include "exynos9611-a51_usa_tfn_gpio_00.dtsi"

/ {
	compatible = "samsung, A51 USA TFN REV00", "samsung,EXYNOS9611";
	dtbo-hw_rev = <0>;
	dtbo-hw_rev_end = <255>;

	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "Samsung A51 USA TFN REV00 based on Exynos9611";

			mif_pdata {
				/* GPIOs for HW REV */
				/* XGPIO26-AP_REV0, XGPIO27-AP_REV1, XGPIO28-AP_REV2, XGPIO29-AP_REV3 */
				gpios = <&gpg3 2 0>, <&gpg3 3 0>, <&gpg3 4 0>, <&gpg3 5 0>;
				pinctrl-names = "default";
			};

			i2c@20 {
				compatible = "i2c-gpio";
				gpios = <&gpp1 2 0
						&gpp1 3 0>;
				i2c-gpio,delay-us = <2>;
				pinctrl-names = "default","on_i2c","off_i2c";
				pinctrl-0 = <&grip_i2c>;
				pinctrl-1 = <&grip_i2c>;
				pinctrl-2 = <&grip_gpio>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";

				a96t3x6@20 {
					compatible = "a96t3x6";
					pinctrl-names = "default";
					pinctrl-0 = <&grip_int>;
					reg = <0x20>;
					interrupt-parent = <&gpa2>;
					interrupts = <5 0 0>;
					a96t3x6,irq_gpio = <&gpa2 5 0>;
					a96t3x6,ldo_en = <&gpg2 1 0>;
					a96t3x6,fw_path = "abov/a96t356_a51_usa.fw";
					a96t3x6,firmup_cmd = <0x3b>;
				};

				a96t3x6@21 {
					compatible = "a96t3x6_sub";
					pinctrl-names = "default";
					pinctrl-0 = <&grip_sub_int>;
					reg = <0x21>;
					interrupt-parent = <&gpa2>;
					interrupts = <7 0 0>;
					a96t3x6,irq_gpio = <&gpa2 7 0>;
					a96t3x6,ldo_en = <&gpg2 1 0>;
					a96t3x6,fw_path = "abov/a96t356_a51_usa_sub.fw";
					a96t3x6,firmup_cmd = <0x3b>;
				};
			};

			dc_vibrator {
				status = "disabled";
			};

			isa1000_vibrator {
				compatible = "imagis,isa1000_vibrator";
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&vib_pwm &motor_en>;
				pwms = <&sec_pwm 0 50000 0>;
				isa1000,duty_ratio = <90>;
				isa1000,frequency = <2000>; /* 200.0Hz */
				isa1000,gpio_en = <&gpg2 5 1>;
				isa1000,motor_type = "LINEAR";
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&i2c_6 {
	 rt5665@1b {
		/delete-property/ pinctrl-names;
		/delete-property/ pinctrl-0;
		pinctrl-names = "default";
		pinctrl-0 = <&codec_irq>;
	};
};

&pinctrl_0 {
	earant_det: earant-det {
		samsung,pins ="gpa1-4";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
	};
	
	grip_int: grip-int {
		samsung,pins = "gpa2-5";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
	};
	
	grip_sub_int: grip-sub-int {
		samsung,pins = "gpa2-7";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
	};	
};

&pinctrl_4 {
	grip_i2c: grip-i2c {
		samsung,pins = "gpp1-2", "gpp1-3";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
	};

	grip_gpio: grip-gpio {
		samsung,pins = "gpp1-2", "gpp1-3";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	grip_ldo: grip-ldo {
		samsung,pins = "gpg2-1";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-val = <1>;
	};

	vib_pwm: vib-pwm {
		samsung,pins = "gpg4-1";
		samsung,pin-function = <2>;
		samsung,pin-pud = <1>;
		samsung,pin-drv = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <1>;
	};
};

&fimc_is_macro_module_gc5035 {
	gpio_reset = <&gpa0 4 0x1>; /* RCAM4_RST_N */
};
