/*
 * SAMSUNG EXYNOS9610 board device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
/plugin/;
#include "exynos9611-a51_common.dtsi"
#include "battery_data_a51_03.dtsi"
#include "exynos9611-a51_fingerprint_00.dtsi"
#include "exynos9611-a51_sensorhub_03.dtsi"
#include "exynos9611-a51_nfc_ese_03.dtsi"
#include "exynos9611-a51_chn_hk_gpio_07.dtsi"

/ {
	compatible = "samsung, A51 CHN HK REV02", "samsung,EXYNOS9611";
	dtbo-hw_rev = <7>;
	dtbo-hw_rev_end = <255>;

	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "Samsung A51 CHN HK REV02 based on Exynos9611";

			mif_pdata {
				/* GPIOs for HW REV */
				/* XGPIO26-AP_REV0, XGPIO27-AP_REV1, XGPIO28-AP_REV2, XGPIO29-AP_REV3 */
				gpios = <&gpg3 2 0>, <&gpg3 3 0>, <&gpg3 4 0>, <&gpg3 5 0>;
				pinctrl-names = "default";
			};

			sec_vib {
				compatible = "sec_vib";
				sec_vib_pdata {
					status = "okay";
					sec_vib,max_timeout = <10000>;
					sec_vib,ldo_type = <1>;
					sec_vib,ldo_en = <&gpg2 5 0>;
				};
			};

			i2c@20 {
				compatible = "i2c-gpio";
				gpios = <&gpp1 2 0
						&gpp1 3 0>;
				i2c-gpio,delay-us = <2>;
				pinctrl-names = "default","on_i2c","off_i2c";
				pinctrl-0 = <&grip_i2c>;
				pinctrl-1 = <&grip_i2c>;
				pinctrl-2 = <&grip_gpio>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";

				a96t3x6@20 {
					compatible = "a96t3x6";
					pinctrl-names = "default";
					pinctrl-0 = <&grip_int>;
					reg = <0x20>;
					interrupt-parent = <&gpa2>;
					interrupts = <5 0 0>;
					a96t3x6,irq_gpio = <&gpa2 5 0>;
					a96t3x6,ldo_en = <&gpg2 1 0>;
					a96t3x6,fw_path = "abov/a96t356_a51.fw";
					a96t3x6,firmup_cmd = <0x3b>;
				};

				a96t3x6@21 {
					compatible = "a96t3x6_sub";
					pinctrl-names = "default";
					pinctrl-0 = <&grip_sub_int>;
					reg = <0x21>;
					interrupt-parent = <&gpa2>;
					interrupts = <7 0 0>;
					a96t3x6,irq_gpio = <&gpa2 7 0>;
					a96t3x6,ldo_en = <&gpg2 1 0>;
					a96t3x6,fw_path = "abov/a96t356_a51_sub.fw";
					a96t3x6,firmup_cmd = <0x3b>;
				};
			};
			sound {
				mixer-paths = "mixer_paths_ti.xml";
				amp-vendor = "TI";
				uaif@2 {
					format = "i2s";
					cpu {
						sound-dai = <&abox_uaif_2>;
					};
					platform {
						sound-dai = <&abox_adaptation 0>;
					};
					codec {
						sound-dai = <&tas2562 0>;
					};
				};
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&pinctrl_0 {
	earant_det: earant-det {
		samsung,pins ="gpa1-4";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
	};
	
	grip_int: grip-int {
		samsung,pins = "gpa2-5";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
	};
	
	grip_sub_int: grip-sub-int {
		samsung,pins = "gpa2-7";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
	};	
};

&pinctrl_4 {
	grip_i2c: grip-i2c {
		samsung,pins = "gpp1-2", "gpp1-3";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
	};

	grip_gpio: grip-gpio {
		samsung,pins = "gpp1-2", "gpp1-3";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	grip_ldo: grip-ldo {
		samsung,pins = "gpg2-1";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-val = <1>;
	};
};

&abox {
	ext_bin@0 {
		status = "okay";
		samsung,name = "spkamp.bin";
		samsung,area = <1>; /* 0:SRAM, 1:DRAM, 2:VSS */
		samsung,offset = <0x502000>;
	};
	ext_bin@4 {
		status = "okay";
		samsung,name = "param_ti.bin";
		samsung,area = <1>;
		samsung,offset = <0x600000>;
	};
	abox_adaptation: abox_adaptation {
		compatible = "samsung,abox-adaptation";
		#sound-dai-cells = <1>;
		abox = <&abox>;
	};
};

&pinctrl_1 {
	spk_en: spk-en {
		samsung,pins ="gpm0-0";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-con-pdn = <1>;
		samsung,pin-pud-pdn = <0>;
	};
};

&hsi2c_3 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&hsi2c3_bus &spk_en>;

	tas2562: tas2562@4c {
		#sound-dai-cells = <1>;
		compatible = "ti,tas2562";
		reg = <0x4c>;
		ti,left-channel = <0x4c>;
		ti,channels = <1>; /* channel number */
		ti,reset-gpio = <&gpm0 0 0>;
		/* ti,irq-gpio = <0 0 0>;  Not connected */
		ti,bst-clk-src = <1>; /* 0 = Default PLL as source; 1 = Oscillator as source */
		ti,status-check = <1>; /* Periodic timer to check status; 1 = Enable, 0 = Disable */
		ti,status-period = <5>; /* Period of the status check timer in seconds */
		ti,port_id = <0x1000>;
		ti,re_min = <2621440>;
		ti,re_max = <5242880>;
		ti,f0_min = <419430400>;
		ti,f0_max = <629145600>;
		ti,q_min = <524288>;
		ti,q_max = <1572864>;
		status = "ok";
	};

	rt5510@34 {
		status = "disabled";
	};
};


